<footer>
    <div id="social">
        <a href="https://www.facebook.com/voxelectronicafest/" target="_blank">
            <img src="../../../assets/facebook-logo.png" alt="facebook" srcset="">
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <img src="../../../assets/youtube-logo.png" alt="youtube" srcset="">
        </a>
        <a href="https://soundcloud.com/discover" target="_blank">
            <img src="../../../assets/soundcloud-logo.png" alt="soundcloud" srcset="">
        </a>
    </div>
    <nav id="footerNavigation">
        <ul *ngIf="language === 'ukr'">
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="partners" class="navLink">партнери</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="archive" class="navLink">архів</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="press-room" class="navLink">прес-центр</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="contact" class="navLink">контакт</a>
            </li>
        </ul>
        <ul *ngIf="language === 'eng'">
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="partners" class="navLink">partners</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="archive" class="navLink">archive</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="press-room" class="navLink">press-room</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="contact" class="navLink">contact</a>
            </li>
        </ul>
    </nav>
    <div id="language">
        <span (click)="changeLang('ukr')">УКР</span> | <span (click)="changeLang('eng')">ENG</span>
    </div>
</footer>
