<header (window:scroll)="scrollingEvents()" [@scrollMenu]="scroll100 ? 'scroll' : 'static'">
    <div id="logo">
        <h1>
            <a id="voxElectronica" 
                routerLink="home" 
                [@scrollLink]="scroll100 ? 'scroll' : 'static'">Vox&nbsp;Electronica
            </a>
        </h1>
    </div>
    <nav id="navigation">
        <input  [(ngModel)]="isChecked" id="menuToggle" type="checkbox" />
        <label class="menuBtn" for="menuToggle">
            <span></span>
        </label>
        <ul id="navUkr" *ngIf="language === 'ukr'" (click)='closeMenu()'>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="about" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">про нас</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="program" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">програма</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="gallery" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">галерея</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="news" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">новини</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="partners" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">партнери</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="archive" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">архів</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="press-room" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">прес-центр</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="contact" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">контакт</a>
            </li>
        </ul>
        <ul id="navEng" *ngIf="language === 'eng'">
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="about" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">about</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="program" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">program</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="gallery" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">gallery</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="news" class="navLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">news</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="partners" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">partners</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="archive" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">archive</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="press-room" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">press-room</a>
            </li>
            <li routerLinkActive="active" (click)="setActive($event)">
                <a routerLink="contact" class="navLink footerLink" [@scrollLink]="scroll100 ? 'scroll' : 'static'">contact</a>
            </li>
        </ul>
    </nav>
</header>
