<div class="page" id="contact">
    <div *ngIf="language==='ukr'" class="contactInner">
        <div class="contactItem">
            <h2>ГО "Мистецьке об'єднання "НУРТ"</h2>
            <p>вул. Мечникова, 15, кв. 13 <br>
                79014 Львів <br>
                Україна
            </p>
        </div>
        <div class="contactItem">
            <h2>Остап Мануляк</h2>
            <p>
                <a href="mailto:ostapmanulyak@gmail.com">ostapmanulyak@gmail.com</a>
            </p>
            <p>
                <a href="http://manulyak.blogspot.com" target="_blank">manulyak.blogspot.com</a>
            </p>
        </div>
        <div class="contactItem">
            <h2>Студія EESEM</h2>
            <p>Львівська національна музична академія ім. М.В. Лисенка<br>
                вул. Нижанківського, 5, каб. 50 <br>
                79005 Львів <br>
                Україна
            </p>
            <a href="http://eesemstudio.blogspot.com" target="_blank">eesemstudio.blogspot.com</a>
        </div>
        <div class="contactItem">
            <h2>Розробники</h2>
            <p>Назар СКРИПНИК</p>
            <a href="mailto:nazarskrypnyk.programmer@gmail.com" target="_blank">nazarskrypnyk.programmer@gmail.com</a>
            <br>
            <br>
            <p>Юрій БУЛКА</p>
            <a href="mailto:setthemfree@privacyrequired.com" target="_blank">setthemfree@privacyrequired.com</a>
        </div>
    </div>
    <div *ngIf="language==='eng'" class="contactInner">
        <div class="contactItem">
            <h2> Art association NURT</h2>
            <p>15 Mechnykova St., ap. 13 <br>
                79014 Lviv <br>
                Ukraine
            </p>
        </div>
        <div class="contactItem">
            <h2>Ostap Manulyak</h2>
            <p>
                <a href="mailto:ostapmanulyak@gmail.com">ostapmanulyak@gmail.com</a>
            </p>
            <p>
                <a href="http://manulyak.blogspot.com" target="_blank">manulyak.blogspot.com</a>
            </p>
        </div>
        <div class="contactItem">
            <h2>EESEM Studio</h2>
            <p>Lviv National Music Academy named after Mykola Lysenko<br>
                5 Nyzhankivs'koho St., aud. 50 <br>
                79005 Lviv <br>
                Ukraine
            </p>
            <a href="http://eesemstudio.blogspot.com" target="_blank">eesemstudio.blogspot.com</a>
        </div>
        <div class="contactItem">
            <h2>Developers</h2>
            <p>Nazar SKRYPNYK</p>
            <a href="mailto:nazarskrypnyk.programmer@gmail.com" target="_blank">nazarskrypnyk.programmer@gmail.com</a>
            <br>
            <br>
            <p>Yurii BULKA</p>
            <a href="mailto:setthemfree@privacyrequired.com" target="_blank">setthemfree@privacyrequired.com</a>
        </div>
    </div>
</div>

