#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        position: fixed;
        top: 70px;
        z-index: -3;
    }
    #aboutInner {
        min-height: calc(100vh - 140px);
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        p {
            padding: 10% 15%;
            letter-spacing: 2px;
            text-align: justify;
            color: white;
        }
    }
}