<div class="page" id="about">
    <img src="../../../assets/VEPoster.png" alt="Vox Electronica" srcset="">
    <div id="aboutInner">
        <p *ngIf="language==='ukr'">Фестиваль VOX ELECTRONICA це камерна але разом із тим помітна в європейському ландшафті електроакустичної музики подія,
            яка щороку збирає у Львові відомих композиторів, музикантів та перформерів. 
            Фестиваль долає стереотипи, дає відповіді на питання про те чим є електроакустична музика і які перспективи її розвитку.
            Від моменту першого фестивалю який відбувся 7 років тому VOX ELECTRONICA презентує зріз 
            різноманітних сучасних експериментальних течій електроакустичної музики і демонструє широкому колу слухачів те,
            що електронна музика це не лише Electronic Dance Music (EDM), а велика і надзвичайно різноманітна сфера “поважної” музики, 
            що є живою, хвилюючою, актуальною і надзвичайно цікавою. 
        </p>
        <p *ngIf="language==='eng'"> The VOX ELECTRONICA festival is quite chamber but at the same time an noticeable and important event in the European landscape of electroacoustic music, 
            which annually collects well-known composers, musicians and performers in Lviv. Festival is organized by the Art Association "NURT" and the Department 
            of composition of the Lviv Music Academy.  The festival overcomes stereotypes, gives answers to the question of what electroacoustic music is and what are 
            the prospects for its development. Since 7 years ago, when the First festival took place, VOX ELECTRONICA presents a section of various contemporary experimental
            currents of electroacoustic music and demonstrates to a wide range of listeners that electronic music is not only Electronic Dance Music (EDM) but a large 
            and extremely diverse range of "serious"/classical music that is lively, exciting, relevant and extremely interesting.  Apart from the concerts, 
            an important part of the VOX ELECTRONICA festival is the lectures and master classes related to a wide range of issues: from specialized composers' master-classes, 
            lectures on the use of various software to the field expeditions devoted to the field-recordings and the ecology of sound. 
        </p>
    </div>
</div>
