<div class="page" id="about">
    <img src="../../../assets/images/VEPoster.png" alt="Vox Electronica" srcset="">
    <div id="aboutInner">
        <p *ngIf="language==='ukr'">
            “Що таке електроакустична музика?”, “Невже в Україні є композитори які працюють з електронікою?”, “Але ж музика електронна є “не живою” 
            на відміну від “живої” акустичної”? Ці питання та стереотипи, є досить поширеними в уявленнях багатьох людей про те, чим є електроакустична музика. 
            Саме для того аби розвіювати такі міфи та упередження у 2011 році Остап Мануляк запропонував групі студентів-ентузіастів провести у Львівській музичній академії концерт, 
            який би наочно задемонстрував те, що електронна музика це не лише Electronic Dance Music (EDM) а велика і надзвичайно різноманітна сфера “поважної” музики, що є живою, 
            хвилюючою, актуальною і надзвичайно цікавою. Результатом став невеличкий концерт під назвою Ars elettronica. де були виконані твори Юрка Булки, Андрія Дзятка, Остапа Мануляка та Юрія Середіна.
            А вже через рік ця ідея розрослась до невеликого фестивалю, який із 2013 року має назву VOX ELECTRONICA.
            Фестиваль VOX ELECTRONICA - це камерна але разом із тим помітна в європейському ландшафті електроакустичної музики подія,
            яка щороку збирає у Львові відомих композиторів, музикантів та перформерів. 
            Фестиваль долає стереотипи, дає відповіді на питання про те чим є електроакустична музика і які перспективи її розвитку.
            Від моменту першого фестивалю який відбувся 7 років тому VOX ELECTRONICA презентує зріз 
            різноманітних сучасних експериментальних течій електроакустичної музики і демонструє широкому колу слухачів те,
            що електронна музика це не лише Electronic Dance Music (EDM), а велика і надзвичайно різноманітна сфера “поважної” музики, 
            що є живою, хвилюючою, актуальною і надзвичайно цікавою. 
        </p>
        <p *ngIf="language==='eng'"> 
            “What is electroacoustic music?”, “Are there any composers in Ukraine which work with electronics?” Acoustic music is “alive” and electronic music is “not alive” isn’t it?
            These issues and stereotypes about electroacoustic music are common in the minds of many people. So, in 2011 Ostap Manulyak invited a group of students and enthusiasts 
            to organize at Lviv Music Academy concert to dispel these myths and prejudices. Another aim was also to clearly demonstrate that there are a huge and extremely diverse area 
            of “classical” electroacoustic music which is “alive” and extremely interesting and also that EDM is only tiny part of all diversity of electronic music genres! 
            As a result we organized a small concert titled “Ars electronica” where works by Yuri Bulka, Andriy Dzyatko, Ostap Manulyak and Yuri Seredin was performed.
            A year later, this idea has grown to a small festival called VOX ELECTRONICA.
            The VOX ELECTRONICA festival is quite chamber but at the same time an noticeable and important event in the European landscape of electroacoustic music, 
            which annually collects well-known composers, musicians and performers in Lviv. Festival is organized by the Art Association "NURT" and the Department 
            of composition of the Lviv Music Academy.  The festival overcomes stereotypes, gives answers to the question of what electroacoustic music is and what are 
            the prospects for its development. Since 7 years ago, when the First festival took place, VOX ELECTRONICA presents a section of various contemporary experimental
            currents of electroacoustic music and demonstrates to a wide range of listeners that electronic music is not only Electronic Dance Music (EDM) but a large 
            and extremely diverse range of "serious"/classical music that is lively, exciting, relevant and extremely interesting.  Apart from the concerts, 
            an important part of the VOX ELECTRONICA festival is the lectures and master classes related to a wide range of issues: from specialized composers' master-classes, 
            lectures on the use of various software to the field expeditions devoted to the field-recordings and the ecology of sound. 
        </p>
    </div>
</div>
