#program {
    padding-right: 50px;
    padding-left: 50px;
    .festivalDay {
        padding: 25px;
        margin: 25px;
        ul {
            li {
                list-style-type: disc;
            }
        }
    }
}