@font-face {
    font-family: 'Dejavu Sans';
    src: "./assets/fonts/dejavu/DejaVuSans.ttf";
    src: "./assets/fonts/dejavu/DejaVuSans-BoldOblique.ttf";
    src: "./assets/fonts/dejavu/DejaVuSans-ExtraLight.ttf";
    src: "./assets/fonts/dejavu/DejaVuSans-Oblique.ttf";
    src: "./assets/fonts/dejavu/DejaVuSans-Bold.ttf";
    src: "./assets/fonts/dejavu/DejaVuSans.ttf";
}