@import "fonts.scss";
$main-font: 'Dejavu Sans';
$this-yellow: rgb(252, 236, 102);
$this-grey: rgb(156, 156, 156);

:export {
    mainfont: $main-font;
    thisyellow: $this-yellow;
    thisgrey: $this-grey;
}
